<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <%- include("header.ejs") %>
    <main>
        <form action="/addBooks" method="post">
            <input name="nombre" type="text" placeholder="Nombre de Libro">
            <input name="imagen" type="text" placeholder="Url de imagen">
            <textarea name="descripcion" id="" cols="30" rows="10" placeholder="Descripción"></textarea>
            <button type="submit">Enviar</button>
        </form>
    </main>

</body>
</html>